.education {
    min-height: 100vh;
    padding: 100px 10%;
    background: #111827;
    color: white;
}

.education-container {
    max-width: 1100px;
    margin: auto;
}

.education-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 70px;
    color: #38bdf8;
}

/* Timeline */

.timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(#38bdf8, #0ea5e9);
    border-radius: 20px;
}

.timeline-item {
    position: relative;
    padding-left: 80px;
    margin-bottom: 50px;

    opacity: 0;
    animation: fadeUp .8s forwards;
}

.timeline-item:nth-child(1){
    animation-delay: .2s;
}

.timeline-item:nth-child(2){
    animation-delay: .4s;
}

.timeline-item:nth-child(3){
    animation-delay: .6s;
}

.timeline-dot {
    position: absolute;
    left: 6px;
    top: 28px;

    width: 30px;
    height: 30px;

    border-radius: 50%;

    background: #38bdf8;

    border: 5px solid #111827;

    box-shadow: 0 0 20px #38bdf8;
}

.timeline-content {

    background: #1f2937;

    padding: 30px;

    border-radius: 18px;

    transition: .4s;

    border: 1px solid transparent;
}

.timeline-content:hover{

    transform: translateY(-8px);

    border-color: #38bdf8;

    box-shadow: 0 15px 35px rgba(56,189,248,.3);
}

.timeline-year{

    display:inline-block;

    background:#38bdf8;

    color:#111827;

    padding:8px 18px;

    border-radius:30px;

    font-weight:bold;

    margin-bottom:18px;
}

.timeline-content h3{

    font-size:28px;

    margin-bottom:10px;

    color:white;
}

.timeline-content h4{

    color:#38bdf8;

    margin-bottom:15px;

    font-size:18px;
}

.timeline-content p{

    color:#d1d5db;

    line-height:1.8;
}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:768px){

.education{

padding:80px 5%;

}

.education-title{

font-size:36px;

}

.timeline::before{

left:14px;

}

.timeline-dot{

left:0;

width:25px;

height:25px;

}

.timeline-item{

padding-left:55px;

}

.timeline-content{

padding:20px;

}

.timeline-content h3{

font-size:22px;

}

.timeline-content h4{

font-size:16px;

}

}