    .contact {
    min-height: 100vh;
    padding: 80px 10%;
    background: #0f172a;
    color: white;
    display: flex;
    align-items: center;
    }

    .contact-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    }

    .contact h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    color: #38bdf8;
    }

    .contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

    .contact input,
    .contact textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #1e293b;
    color: white;
    font-size: 16px;
    }

    .contact input::placeholder,
    .contact textarea::placeholder {
    color: #94a3b8;
    }

    .contact textarea {
    resize: none;
    }

    .contact button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #38dff8;
    color: #0f172a;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    }

    .contact button:hover {
    transform: translateY(-3px);
    background: white;
    }